<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am an applied mathematician. So far my application domains include cell biology, archeology, social science and celestial mechanics. My mathematical expertise mainly concerns dynamical systems (systems that evolve over time, which really is almost any system) and lately I am very drawn to data science and neural network problems. 
                
            </p>
            <p class="paragraph-text justify-text">
                For my research I mainly use Python but I also use the math heavy toolboxes from Matlab and Mathematica.  I have worked on a couple of mechanical and material science problems in collaboration with industry, and I am always on the look out for new collaborations. 
            </p>
            <p class="paragraph-text justify-text">
                I post my data science projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
