<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="applied math" class="semi-transparent-button with-border white-button" onclick="selected('applied math')">Applied math</a>
                    <a id="coding" class="semi-transparent-button with-border white-button" onclick="selected('coding')">Coding</a>
                    <a id="data science" class="semi-transparent-button with-border white-button" onclick="selected('data science')">Data science</a>
                    <a id="AI" class="semi-transparent-button with-border white-button" onclick="selected('AI')">AI</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>